
<div class="col-md-12 ">
  <div class="menu pull-right">
  <a class="btn btn-primary btn-xl " ng-click="save()">Save Canvas</a>
  <a class="btn btn-primary btn-xl " ng-click="load()">Load Canvas</a>
  </div>

</div>


  <div class="col-md-12 red-bg white-text">
    <h3>Define customer segments,  fit into customer limitations</h3>
  </div>
  <div class="col-md-4 red-border box">
    <h2>1. CUSTOMER SEGMENT(S)</h2>

    <list i='0' canvas="canvas[0]" placeholder="Who is your customer? eg. working parents of 0-5 y.o. kids" style="red">

    </list>

  </div>
  <div class="col-md-4 red-border box">
    <h2>6. CUSTOMER LIMITATIONS <small>EG. BUDGET, DEVICES</small></h2>


    <list i='1' canvas="canvas[1]" placeholder="What limits your customers to act when problem occurs?
Spending power, budget, no cash in the pocket? Network connection? Available devices?" style="red">

    </list>

  </div>
  <div class="col-md-4 red-border box">
    <h2>5. AVAILABLE SOLUTIONS <small>PLUSES & MINUSES</small></h2>

    <list i='2' canvas="canvas[2]" placeholder="Which solutions are available to the customer when he/she is facing the problem? What had he/she tried in the past? Pluses & minuses?" style="red">

    </list>



  </div>




  <div class="col-md-12 orange-bg white-text">
   <h3> Focus on problem, tap into behavior, understand root cause </h3>
  </div>



  <div class="col-md-4 orange-border box">
    <h2>2. PROBLEMS / PAINS <small>+ ITS FREQUENCY</small></h2>

    <list i='3' canvas="canvas[3]" placeholder="Which problem do you solve for your customer? How often There could be more than one, explore different sides.
    eg. existing solar solutions for private houses are not considered a good investment (1)." style="orange">

    </list>







  </div>
  <div class="col-md-4 orange-border box">
    <h2>9. ROOT / CAUSE OF PROBLEM</h2>


      <list i='4' canvas="canvas[4]" placeholder="What is the root of every problem from the list?
eg. People think that solar panels are bad investment right now, because they are too
expensive (1.1), and possible changes to the law might in uence the return of investment signi cantly and diminish the bene ts (1.2)." style="orange">

      </list>





  </div>
  <div class="col-md-4 orange-border box">
    <h2>7. BEHAVIOR <small>+ ITS INTENSITY</small>
    </h2>

    <list i='5' canvas="canvas[5]" placeholder="What does your customer do about / around / directly How often does or indirectly related to the problem?" style="orange">

    </list>
  </div>


  <div class="col-md-12 green-bg white-text">
    <h3>Identify strong triggers & emotions</h3>
  </div>
  <div class="col-md-4 green-border box">
    <div class="row">
      <div class="col-md-12">
      <h2>3. TRIGGERS</h2>
    </div>
    </div>

    <list i='6' canvas="canvas[6]" placeholder="What triggers customer to act?
    <br>
eg. seeing their neighbor installing solar panels (1.1), reading about innovative, more beautiful and ef cient solution (1.2)" style="green">

    </list>


    <div class="row">
      <div class="col-md-12">
<h2>4. EMOTIONS</h2>
    </div>
    </div>

    <list i='7' canvas="canvas[7]" placeholder="Which emotions do people feel before/after this problem is solved?
Use it in your communication strategy.<br>

eg. frustration, blocking (can’t afford it) > boost, feeling smart, be an example for others (made a smart purchase)" style="green">





    </list>





  </div>
  <div class="col-md-4 green-border box">
    <h2>10. YOUR SOLUTION</h2>
    <list  i='8' canvas="canvas[8]" placeholder="
If you are working on existing business - write down existing solution  first,  fill in the canvas and check how much does it  fit reality.
<br>
<br>
If you are working on a new business proposition then keep it blank until you  fill in the canvas and come up with a solution that  fits within customer limitations, solves a problem and matches customer behaviour .

" style="green">

    </list>


  </div>
  <div class="col-md-4 green-border box">
    <h2>8. CHANNELS OF BEHAVIOR</h2>
    <div class="row">
      <div class="col-md-12">
        <h2>ONLINE</h2>
      </div>
    </div>

    <list i='9' canvas="canvas[9]" placeholder="Extract channels from Behavior block" style="green">

    </list>

    <div class="row">
      <div class="col-md-12">
        <h2>OFFLINE</h2>
      </div>
    </div>
    <list i='9' canvas="canvas[10]" placeholder="Extract channels from Behavior block and use for customer development" style="green">

    </list>



  </div>

